.container {
  position: relative;
  border: 3px solid black;
  width: 550px;
  margin: auto;
}

.level-panel span {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  padding: 5px;
  margin: 5px;
}

.level-panel {
  background-color: royalblue;
  border-bottom: 3px solid black;
  padding: 10px;
  margin-bottom: 10px;
}
.level-panel button {
  background-color: cornflowerblue;
  border-radius: 5px;
  border: 1px solid;
  margin: 5px 5px;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 500ms linear;
}
.best-time {
  background-color: gold;
  height: 30px;
  padding: 2px;
}
.best-time h3{
  margin: 5px 0 0 0;
}
.level-panel button:hover {
  background-color: steelblue;
}
.mess-box {
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.time-panel {
  display: inline-block;
  border: 3px solid;
  font-size: x-large;
  text-align: center;
  width: 100px;
  padding: 5px;
  margin: 10px;
}
.time-panel .header {
  font-weight: bold;
  text-decoration: underline;
}

.btn-reset {
  margin: 10px;
  padding: 1px;
  cursor: pointer;
}

.box-top {
  position: relative;
  width: 100%;
  padding: 5px;
  height: 130px;
}
.hint-panel {
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 0px;
  margin-left: 10px;
  margin-right: 50px;
  padding: 10px;
  border: 1px solid;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 105px;
}
.hint-panel .header {
  margin-bottom: 10px;
  text-decoration: underline;
}
.hint-count {
  margin-top: 10px;
}
.hint-count button {
  cursor: pointer;
  box-shadow: inset 0px 0px 33px 12px rgba(240, 240, 110, 1);
  transition: background-color 300ms linear;
}
.hint-clicked {
  background-color: yellow;
}

.life-panel {
  position: absolute;
  right: 25px;
  top: 0px;
  border: 1px solid;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 105px;
  padding: 10px;
}
.life-panel .header {
  display: block;
  text-decoration: underline;
  margin: 5px;
}

.btn-reset {
  margin: 0px 20px;
  background-color: transparent;
  font-size: xx-large;
  padding: 1px;
  width: 60px;
  height: 60px;
}

.mines-panel {
  display: inline-block;
  border: 3px solid;
  font-size: x-large;
  text-align: center;
  width: 100px;
  padding: 5px;
  margin: 10px;
}
.mines-panel .header {
  display: block;
  font-weight: bold;
  text-decoration: underline;
}

table {
  border-spacing: 0px;
  margin: 10px;
}
td {
  text-align: center;
  font-size: large;
  font-weight: bold;
  width: 35px;
  height: 35px;
  min-width: 30px;
  color: white;
  box-shadow: inset 0px 0px 22px 23px #868750;
  background-color: white;
  transition: box-shadow 300ms linear, color 400ms linear;
}

.shown {
  box-shadow: inset 0px 0px 10px 0px #868750;
  color: black;
  background-color: rgb(236, 222, 174);
}

.support-life {
  display: none;
  border: 5px dotted yellowgreen;
  position: absolute;
  top: 350px;
  left: 95px;
  padding: 25px;
  width: 300px;
  height: 30px;
  margin: auto;
  text-align: center;
  font-size: xx-large;
  background-color: black;
  color: greenyellow;
  box-shadow: inset 0px 0px 51px -13px rgba(161, 230, 147, 1);
}
